<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
		<category label="Settings">
            <setting type="lsep" label="[COLOR red][B]Game Details[/B][/COLOR]"/>
		    <setting id="start_time" type="bool" label="Display game's start time?" default="true" />
		    <setting id="status" type="bool" label="Display game's statuses?" default="true" />
            <setting type="lsep" label="[COLOR red][B]Game Spoliers[/B][/COLOR]"/>
		    <setting id="score" type="bool" label="Display game's scores?" default="true" />
            <setting type="lsep" label="[COLOR red][B]Stream Options[/B][/COLOR]"/>
	    	<setting id="show_tor" type="bool" label="Show ace/sopcast streams?" default="true" />
	    	<setting id="pattern" type="bool" label="Display pattern for subreddits?" default="true" />
            <setting type="lsep" label="[COLOR red][B]Debugging[/B][/COLOR]"/>
            <setting id="debug" type="bool" label="Enable Debugging"  default="false"/> 
		</category>
		<category label="Reddit Login">
	    	<setting id="username" type="text" label="Username" default="" />
	    	<setting id="password" type="text" label="Password" option="hidden" default="" />
		</category>
</settings>